 #navbarSupportedContent >div{
	 margin-left: auto!important;
 }
 #btk2Container .pagination{
	display: block;
    text-align: center;
 }
 #btk2Container .pagination ul li{
	display: inline-block;
    padding: 5px 10px;
    margin: 2px;
    border: 1px solid #ddd;
 }
 .k2SearchBlockForm button[type="submit"],.blogs .posts .comment-form .form .butn{
	 cursor: pointer;
 }
 .socials i{
	font-size: 22px;
    margin-left: 5px;
 }
 .contact-info .map {
    padding: 0;
}
.contact-info .map {
    position: relative;
} 
.no-pt{
	padding-top: 0;
} 
.footer {
    padding: 80px 0 50px 0;
}
.footer .item {
    text-align: center;
    margin-bottom: 30px;
}
.footer .item p {
    font-weight: 400;
    letter-spacing: 1px;
}
.footer .item .icon {
    color: #999;
    font-size: 30px;
    margin-bottom: 15px;
}
footer{ 
	padding: 0;
}
footer .sub-footer { 
    margin-top: 0;
}
header .wave {
    position: absolute;
    bottom: 0;
    left: -5%;
    width: 110%;
    height: 100px;
    background-image: url(../../../images/wave.svg);
    background-size: cover;
    z-index: 1;
}
